/* stylelint-disable selector-list-comma-newline-after */
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Source+Sans+Pro");

/*
--------------
color palette
--------------
light background: E8EBEC
main blue:        328BBC
grey:             7E8C97
aqua highlight:   DCF4E2
gunmetal blue:    8AB1C6
--------------
*/

body {
  font-family: "Source Sans Pro";
  background-color: #E8EBEC;
}

main img {
  max-width: 100%;
}

footer, .footer {
  background-color: #8AB1C6;
  box-shadow: 0 0 5px 0 #000;
  padding-top: 20px;
  padding-bottom: 10px;
}

.blog-header {
  line-height: 1;
}

.blog-header-logo {
  font-family: "Fjalla One", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fjalla One", Georgia, "Times New Roman", serif;
}

footer .post, .footer .post, .post, .blog-main {
  background-color: #fff;
}

footer .post ul, .footer .post ul {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
}

.jumbotron {
  background-color: #328BBC !important;
  box-shadow: 0 0 5px 0 #000;
}

.jumbotron img {
  border-radius: 50%;
  box-shadow: 2px 5px 5px #000;
}

.jumbotron .title {
  color: #dcf4e2;
  text-shadow: 2px 5px 5px #000;
}

.jumbotron p {
  color: #e8ebec;
  font-size: 1.4em;
}

.jumbotron a,
.jumbotron a:hover {
  text-decoration: none;
  color: #dcf4e2;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
 * Blazor error ui
 */
#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}