/* custom downr elements */
h1, h2, h3, h4, h5, h6, .card-title {
  font-family: 'Fjalla One', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

.card {
  font-size: 1.2em;
}

.card-title {
  font-size: 1.4em;
}

.card-title a {
  color: #333;
}

  .card-title a:Hover {
      color: #0366d6;
  }

.card-body {
  height: 220px;
}

.card-columns {
  column-count: 2;
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

img {
    width: 100%;
    height: auto;
}

/* Provide sufficient contrast against white background */
a, a:hover {
    color: #0366d6;
    text-decoration: none;
}

    a:Hover {
        color: #333;
    }

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
