@page
@inject Microsoft.Extensions.Options.IOptions<downr.DownrOptions> downrOptions
@model IndexModel
@using downr.Components
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@downrOptions.Value.Title</h1>
    <p>@downrOptions.Value.IndexPageText</p>
</div>

<component type="typeof(PostList)" render-mode="ServerPrerendered" />

@section scripts
{
    <script src="_framework/blazor.server.js"></script>
}