@inherits LayoutComponentBase
@using Microsoft.Extensions.Configuration
@using downr
@inject DownrOptions options

<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<footer class="footer" id="footer">
    <div class="container">
        <div class="row justify-content-md-center">
            <h2 class="col text-center title">other interesting stuff</h2>
        </div>
        <hr/>
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Connect with me</h5>
                <p class="card-text">
                    <ul>
                        <li><a href="https://github.com/bradygaster">GitHub</a></li>
                        <li><a href="https://twitter.com/bradygaster">Twitter</a></li>
                        <li><a href="https://www.linkedin.com/in/bradygaster/">LinkedIn</a></li>
                        <li><a href="https://www.youtube.com/user/bradygaster">YouTube</a></li>
                        <li><a href="https://twitch.tv/bradygaster">Twitch</a></li>
                    </ul>
                </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Code Conversations</h5>
                    <p class="card-text">Learn more about the the experimental Teams bot that enables collaborative code conversations within Microsoft Teams.</p>
                </div>
                <div class="card-footer">
                    <p class="card-text"><small class="text-muted"><a href="https://aka.ms/codeconversations" title="The Code Conversations project repository">Code Conversations on GitHub</a></small></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">.NET Core & Azure</h5>
                <p class="card-text">
                    <ul>
                        <li><a href="https://docs.microsoft.com/en-us/aspnet/core">ASP.NET Core docs</a></li>
                        <li><a href="https://docs.microsoft.com/en-us/dotnet/azure/">Azure for .NET developers</a></li>
                        <li><a href="https://dotnet.microsoft.com/learn/dotnet/architecture-guides">.NET Architecture Guides</a></li>
                        <li><a href="https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/intro">Build microservices with .NET</a></li>
                        <li><a href="https://dotnet.microsoft.com/learn/aspnet/microservices-architecture">.NET microservice architecture</a></li>
                        <li><a href="https://github.com/dotnet/interactive">.NET Interactive</a></li>
                    </ul>
                </p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row justify-content-md-center">
            <h2 class="col text-center title">copyright &copy; @options.Author </h2>
        </div>
        <hr/>
        <div class="row justify-content-md-center">
            <button id="topButton" class="btn btn-secondary btn-center" onclick="scrollToTop();">back to top</button>
        </div>
    </div>
</footer>