@inherits LayoutComponentBase
@using Microsoft.Extensions.Configuration
@using downr
@inject DownrOptions options

<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<footer class="footer" id="footer">
    <div class="container">
        @if(!string.IsNullOrEmpty(options.FooterHeadingText))
        {
        <div class="row justify-content-md-center">
            <h2 class="col text-center title">@options.FooterHeadingText</h2>
        </div>
        }
        @if(options.ShowCopyright)
        {
        <div class="row justify-content-md-center">
            <h4 class="col text-center title">copyright &copy; @options.Author </h4>
        </div>
        }
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static post">
                        <h4 class="mb-0">Left Side</h4>
                        <p class="card-text mb-auto">
                            <ul>
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static post">
                        <h4 class="mb-0">Right Side</h4>
                        <p class="card-text mb-auto">
                            <ul>
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>