@inherits ComponentBase
@using downr
@using downr.Models
@inject DownrOptions downrOptions

<div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static post">
        @if(PostPageModel.PreviousPost != null)
        {
            @if(downrOptions.SiteMode == SiteMode.Blog) { // workshops are effectively backwards so we change the text here
                <strong class="d-inline-block mb-2 text-primary">Previous</strong>
            } else {
                <strong class="d-inline-block mb-2 text-primary">Next</strong>
            }
            <h4 class="mb-0">@PostPageModel.PreviousPost.Title</h4>
            <div class="mb-1 text-muted">@PostPageModel.PreviousPost.PublicationDate.ToString("MMMM dd, yyyy")</div>
            <p class="card-text mb-auto">@PostPageModel.PreviousPost.Description</p>
            <NavLink class="stretched-link" href="@($"/posts/{PostPageModel.PreviousPost.Slug}")">Continue reading</NavLink>
        }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public PostPageModel PostPageModel { get; set; }
}
